{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "reporters",
        "reporter-tap",
        "reporter-fancy",
        "runner",
        "utils",
        "utils-colors",
        "utils-node",
        "cli",
        "githooks"
      ]
    ]
  }
}
