{
  "extends": ["@asd14/eslint-config/targets/node-ts"],
  "root": true,
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.+(test|test-d).+(ts|tsx)",
          "example/**/*.(cjs|ts|tsx)",
          "jest.config.js",
          "jest.setup.js"
        ]
      }
    ]
  },
  "settings": {
    "import/cache": {
      "lifetime": 5
    }
  }
}
